{% extends "cynr_app/base_paginas.html" %}

{% block head %}
{% endblock head %}

{% block content %}

  <!-- ======= Encabezado de la Pagina ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>{{contenido.titulo}}</h2>

        <ol>
          <li><a href="{% url 'cynr_app:index' %}">CYNR</a></li>
          <li>{{contenido.titulo}}</li>
        </ol>
      </div>
    </div>
  </section><!-- End Blog Section -->
  <section class="features">   
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://geoman.io/geojson-editor" allowfullscreen></iframe>
    </div>
  </section>
  {% endblock content %}
