{% extends "cynr_app/base_paginas.html" %}

{% block header %}
<header id="header" class="fixed-top header-transparent">
  <div class="container">

    <div class="logo float-left">
    
      <h1 class="text-light"><a href="{% url 'cynr_app:index' %}"><span>CyNR</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav class="nav-menu float-right d-none d-lg-block">
          <ul>
            {% for key, value in menu_navegacion.items %}
             {% if value.menu %}
             <li class="drop-down"><a href="">{{ key }}</a> 
              <ul>
                {% for clave, valor in value.menu.items %}
                <li><a href={{ valor }}>{{ clave }}</a></li>
                {% endfor %}
              </ul>
              </li>
             {% else %}
             <li> <a href= {{ value }}>{{ key }}</a></li>
             {% endif %}
            {% endfor %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" title="Salir de la Sesión"><i class="fa fa-power-off" style='color: white;'></i>&nbsp;Salir de Sesión</a></li>
            <li><a><i class="fa fa-user" style='color: white;'></i> &nbsp;{{ user.username }}</a></li>
            {% else %}
            <li><a href="{% url 'login' %}" title="Iniciar Sesión"><i class="fa fa-power-off" style='color: white;'></i> &nbsp;Iniciar Sesión</a></li>
            <li><a><i class="fa fa-user" style='color: white;'></i></a></li>
            {% endif %}     
          </ul>

    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->
{% endblock header %}
{% block hero %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Moderna</span></h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Leer Más</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </section><!-- End Hero -->
{% endblock hero %}  
{% block main %}
 	<!-- Page Content -->
 	<div class="container">
		 <div class="row">
			 <div class="col-lg-12">
				<p>Most of Start Bootstrap's unstyled templates can be directly integrated into the Modern Business template. You can view all of our unstyled templates on our website at
					<a href="https://startbootstrap.com/template-categories/unstyled">https://startbootstrap.com/template-categories/unstyled</a>.</p> 
			 </div>
     </div>
  </div>  
{% endblock main %}

