<div class="modal-dialog modal-lg">
<div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar Registro</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        {% if user.username == obj.autor_id.username %}
          <form method="post" action='{% url contenido.url_eliminar obj.pk %}' class="php-email-form"> 
          {% csrf_token %}
          <p>¿Está seguro que desea eliminar "{{ obj}}"?</p>
          <input type="submit" value="Confirmar" class="submit-btn btn btn-danger"></input>
        </form>
        {% else %}
        <div class="alert alert-info" role="alert">
          <i class="fas fa-info-circle" style="font-size:24px"></i> Sólo el usuario <b>{{obj.autor_id.username}}</b> puede
          eliminar este registro.
        {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
</div>
</div>