<div class="modal-dialog modal-lg">
<div class="modal-content">
      <div class="modal-header">
          <h5>{{obj.encabezado}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
						
      <div class="modal-body">
        <div class="col-md-12"><dt>Autor</dt></div>
        <div class="col-md-12">{{obj.autor_id}}</div>
        <div class="col-md-12"><dt>Presentación</dt></div>
        <div class="col-md-12">{{obj.presentacion}}</div>
        <div class="col-md-12"><dt>Instituciones Relacionadas</dt></div>
        <div class="col-md-12">{{ obj.id_inst.all|join:", " }}</div>
        <div class="col-md-12"><dt>Infraestructura Relacionada</dt></div>
        <div class="col-md-12">{{ obj.id_infra.all|join:", " }}</div>
        <div class="col-md-12"><dt>Fecha y Hora</dt></div>
        <div class="col-md-12">{{obj.fecha_hora}}</div>
        <div class="col-md-12"><dt>Link de la Noticia</dt></div>
        {%  ifnotequal obj.link_not '' %}
        <div class="col-md-12"><a href="{{obj.link_not}}" target="_blank"><i class="fas fa-link fa-2x"></i></a></div>
        {% else %}
        <div class="col-md-12">No se ha cargado el link.</div>
        {%  endifnotequal %}
        <div class="col-md-12"><dt>Archivo de la Noticia</dt></div>
        {%  ifnotequal obj.arch_not '' %}
          <div class="col-md-12"><a href="/cynr_app{{obj.arch_not.url}}" target="_blank"><i class="fas fa-file fa-2x"></i></a></div>
        {% else %}
          <div class="col-md-12">No existe el archivo.</div>
        {%  endifnotequal %}


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
</div>
</div>
