<div class="modal-dialog modal-xl">
<div class="modal-content">
      <div class="modal-header">
        {% if obj %}
        <h4 class="modal-title">Actualizar Registro</h4>
        {% else %}  						
        <h4 class="modal-title">Crear Registro</h4>
        {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <h1>Parents</h1>
        {% if obj %}
          <form method="post" action='{% url contenido.url_editar obj.pk %}' class="php-email-form">
        {% else %}
          <form method="post" action='{% url contenido.url_crear %}' class="php-email-form">
        {% endif %}  
          {% csrf_token %}
                {{ form.as_p }}
                <h2>children</h2>
                {{ children.as_p }}

            {% if obj %}
              <button type="submit" class="submit-btn btn btn-primary">Actualizar</button>
            {% else %}
              <button type="submit" class="submit-btn btn btn-primary">Crear</button>
            {% endif %}
        </form>					
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
</div>
</div>
