<div class="modal-dialog modal-xl">
<div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Actualizar Registro</h4>						
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
          <form id="form-container" method="post" action='{% url contenido.url_editar obj.pk %}' class="php-email-form" enctype="multipart/form-data">
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
          {% endfor %}
          {% csrf_token %}
          {{ form.management_form }}
          {{ form.non_form_errors }}
          {% for cont_form in form.forms %}
            {% for field in form_cont %}     
              <div class="form-group">
                <div class="col-md-12"><label class="control-label" for="{{ field.id_for_label }}"><dt>{{ field.label }}</dt></label></div>
                <div class="col-md-12">{{field}}</div>
              </div>
              <div class="{% if field.errors %} invalid{% endif %}">
                {% for error in field.errors %}
                  <p class="help-block">{{ error }}</p>
                {% endfor %}
              </div>
            {% endfor %}
            <!-- Este es el manejador del inline --> 
            {{ hijos.management_form }}
            {{ imagenes.management_form }}
              {% for form in hijos.forms %}
              <h4>Sección</h4>
              <div class="hijo-form">
                {% for field in form.visible_fields %}     
                  <div class="form-group">
                    <div class="col-md-12"><label class="control-label" for="{{ field.id_for_label }}"><dt>{{ field.label }}</dt></label></div>
                    <div class="col-md-12">{{field}}</div>
                  </div>
                {% endfor %}
                  {% for imgform in imagenes.forms %}
                  <h4>Foto</h4>
                    <div class="imagen-form">
                      {% for field in imgform.visible_fields %}     
                      <div class="form-group">
                        <div class="col-md-12"><label class="control-label" for="{{ field.id_for_label }}"><dt>{{ field.label }}</dt></label></div>
                        <div class="col-md-12">{{field}}</div>
                      </div>
                      {% endfor %}
                    </div>
                  {% endfor %}
              </div>
              {% endfor %}
              <button id="add-form" type="button">Adicionar</button>
            {% if obj %}
              <button type="submit" class="submit-btn btn btn-primary">Actualizar</button>
            {% else %}
              <button type="submit" class="submit-btn btn btn-primary">Crear</button>
            {% endif %}
        </form>
        <script>
          let referencia = 'idContDoc'
          let hijoForm = document.querySelectorAll(".hijo-form")
          let container = document.querySelector("#form-container")
          let addButton = document.querySelector("#add-form")
          let totalForms = document.querySelector("#id_"+referencia+"-TOTAL_FORMS")
  
          let formNum = hijoForm.length-1
          addButton.addEventListener('click', addForm)
  
          function addForm(e){
              e.preventDefault()
  
              let newForm = hijoForm[0].cloneNode(true)
              let formRegex = RegExp(`${referencia}-(\\d){1}-`,'g')
  
              formNum++
              newForm.innerHTML = newForm.innerHTML.replace(formRegex, `${referencia}-${formNum}-`)
              container.insertBefore(newForm, addButton)
              
              totalForms.setAttribute('value', `${formNum+1}`)
          }
      </script>					
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
</div>
</div>
