{% extends "cynr_app/base_paginas.html" %}

{% block header %}
<header id="header" class="fixed-top">
  <div class="container">

    <div class="logo float-left">
    
      <h1 class="text-light"><a href="{% url 'cynr_app:index' %}"><span>CYNR</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav class="nav-menu float-right d-none d-lg-block">
          <ul>
            {% for key, value in menu_navegacion.items %}
             {% if value.menu %}
             <li class="drop-down"><a href="">{{ key }}</a> 
              <ul>
                {% for clave, valor in value.menu.items %}
                <li><a href={{ valor }}>{{ clave }}</a></li>
                {% endfor %}
              </ul>
              </li>
             {% else %}
             <li> <a href= {{ value }}>{{ key }}</a></li>
             {% endif %}
            {% endfor %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" title="Salir de la Sesión"><i class="fa fa-power-off" style='color: white;'></i>&nbsp;Salir de Sesión</a></li>
            <li><a><i class="fa fa-user" style='color: white;'></i> &nbsp;{{ user.username }}</a></li>
            {% else %}
            <li><a href="{% url 'login' %}" title="Iniciar Sesión"><i class="fa fa-power-off" style='color: white;'></i> &nbsp;Iniciar Sesión</a></li>
            <li><a><i class="fa fa-user" style='color: white;'></i></a></li>
            {% endif %}    
          </ul>

    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->
{% endblock header %}

{% block main %}

<section class="contact">   
      <div class="container">
      <h4>Iniciar Sesión</h4>
      <form method="POST"  role="form" class="php-email-form">
            {% csrf_token %}
      <div class="control-group">
      <label class="control-label" for="id_usuario"><dt>Usuario</dt></label>
      <input type="text" class="form-control" placeholder="Usuario" name="username" id="id_usuario">
      </div>
      </br>
      <div class="control-group">
      <label class="control-label" for="id_contra"><dt>Contraseña</dt></label>
      <input type="password" class="form-control" placeholder="Contraseña" name="password" id="id_contra">
      </div>
      </br>
      <button type="submit">Enviar</button>
      </form>
      </br>
      <div class="row">
      <div class="col-sm-4">¿No está registrado? <a href="{% url 'cynr_app:signup' %}">Cree su Cuenta</a></div>
      <div class="col-sm-8"><a href="">Recuperar Usuario y Contraseña</a></div>
      </div>
      </div>
</section>

{% endblock main %}
