{% extends "cynr_app/base_paginas.html" %}
{% block header %}
<header id="header" class="fixed-top">
  <div class="container">

    <div class="logo float-left">
    
      <h1 class="text-light"><a href="{% url 'cynr_app:index' %}"><span>CYNR</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav class="nav-menu float-right d-none d-lg-block">
          <ul>
            {% for key, value in menu_navegacion.items %}
             {% if value.menu %}
             <li class="drop-down"><a href="">{{ key }}</a> 
              <ul>
                {% for clave, valor in value.menu.items %}
                <li><a href={{ valor }}>{{ clave }}</a></li>
                {% endfor %}
              </ul>
              </li>
             {% else %}
             <li> <a href= {{ value }}>{{ key }}</a></li>
             {% endif %}
            {% endfor %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" title="Salir de la Sesión"><i class="fa fa-power-off" style='color: white;'></i>&nbsp;Salir de Sesión</a></li>
            <li><a><i class="fa fa-user" style='color: white;'></i> &nbsp;{{ user.username }}</a></li>
            {% else %}
            <li><a href="{% url 'login' %}" title="Iniciar Sesión"><i class="fa fa-power-off" style='color: white;'></i> &nbsp;Iniciar Sesión</a></li>
            <li><a><i class="fa fa-user" style='color: white;'></i></a></li>
            {% endif %}    
          </ul>

    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->
{% endblock header %}

{% block main %}
<section class="contact">   
<div class="container">
  <h4>Registrarse</h4>
  <!--  <form action="" method="POST">-->
  
 <form method="post" role="form" class="php-email-form">
   {% csrf_token %}
   {% for field in form %}
   <div class="form-row">
    <div class="col-md-6 form-group">
    <label class="control-label" for="id_{{ field.name }}"><dt>{{ field.label }}</dt></label>
    <!--<div class="controls">-->
      {{ field }}
        <p class="help-text">{{ field.help_text }} </p>
    <!--</div>-->
    </div>
   </div>
  {% endfor %}
  <div class="text-center">
    <button type="submit">Enviar</button>
  </div>
  
 </form>
</div>
</section><!-- End Contact Section -->
  {% endblock main %}

